@import "./src/sass/variables";
@import "./src/sass/mixins";

.task {
  @include flex(flex-start);
  width: calc(100% - 40px);
  position: relative;
  border-radius: 8px;
  padding: 20px;
  margin: 8px 0;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: white;
  > img {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    position: absolute;
    bottom: 14px;
    right: 14px;
  }
  > label {
    padding-top: 5px;
    > span {
      margin-right: 20px;
      cursor: pointer;
    }
  }
  &__description {
    max-width: 80%;
    margin-bottom: 15px;
    cursor: pointer;
    color: $black-75
  }
  &__delete-icon-container {
    position: absolute;
    top: 14px;
    right: 14px;
  }
  &__delete-icon {
    color: $black-65;
    cursor: pointer;
    display: none;
  }
  &__edit-icon {
    color: $black-65;
    cursor: pointer;
    margin-left: 5px;
    display: none;
  }
  &:hover {
    .icon {
      display: initial;
    }
  }
}

@media only screen and (max-width: $break-mobile) {
  .task {
    &__description {
      font-size: $f-size-s;
    }
  }
}

